@import "./abstract/variables";
@import "./abstract/mixins";
@import "./abstract/animations";
@import "./base/base";
@import "./components/home";
@import "./components/work";
@import "./components/popup";
@import "./components/contact";
@import "./components/about";
@import "./components/footer";