@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@keyframes shine {
  0% {
    box-shadow: 0 0 0.1rem #fff; }
  50% {
    box-shadow: 0 0 3rem #fff; }
  100% {
    box-shadow: 0 0 0.1rem #fff; } }

@keyframes tail {
  0% {
    width: 0; }
  30% {
    width: 100px; }
  100% {
    width: 0; } }

@keyframes shining {
  0% {
    width: 0; }
  50% {
    width: 30px; }
  100% {
    width: 0; } }

@keyframes shooting {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(320px); } }

@keyframes gradientBG {
  0% {
    background-position: 100% 0%; }
  50% {
    background-position: 30% 0%; }
  100% {
    background-position: 100% 0%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: "archiaregular";
  src: url("../fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "modernplate";
  src: url("../fonts/ModernPlate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  *:focus, *:active {
    outline: none !important; }

html {
  font-size: 62.5%;
  background-color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden !important; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 56.25%;
      overflow-y: visible !important; } }
  @media only screen and (max-width: 65em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 44em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

a:link,
a:visited {
  color: #0d65f1; }

a:focus,
a:active {
  outline: none; }

::-moz-selection {
  background-color: #fff;
  color: #141852; }

::selection {
  background-color: #fff;
  color: #141852; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #000; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc; }

.Mui-focused {
  color: #fff !important; }

.youtube-video {
  height: 100%;
  width: 100%; }

.MuiTooltip-tooltip {
  font-size: 1.4rem !important; }

.landing {
  height: auto;
  height: 100vh;
  width: 100vw;
  font-weight: 500;
  font-size: 3rem;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding-top: 5%; }
  @media only screen and (max-width: 44em) {
    .landing {
      background-position: center; } }
  .landing-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 10%;
    animation: moveInTop 1s ease 0.75s;
    animation-fill-mode: backwards;
    z-index: 500;
    background-color: #121212; }
    @media only screen and (max-width: 44em) {
      .landing-top {
        padding: 3rem 10% 2rem; } }
    .landing-top-logo, .footer-logo {
      font-size: 3.2rem;
      font-family: "Courgette"; }
      @media only screen and (max-width: 44em) {
        .landing-top-logo, .footer-logo {
          font-size: 2.6rem;
          margin-bottom: 3px; } }
      .landing-top-logo, .footer-logo, .landing-top-logo:link, .footer-logo:link, .landing-top-logo:visited, .footer-logo:visited {
        text-decoration: none;
        color: #f7f7f2; }
      .landing-top-logo:hover, .footer-logo:hover {
        cursor: pointer; }
    .landing-top-nav {
      display: flex;
      align-items: center;
      font-size: 2.6rem; }
      .landing-top-nav-link {
        margin-left: 4rem; }
        .landing-top-nav-link::after {
          content: "";
          position: relative;
          display: block;
          height: 3px;
          width: 100%;
          background-color: #fff;
          transform: scaleX(0);
          transform-origin: 0%;
          transition: transform 300ms ease;
          top: 2px; }
        .landing-top-nav-link:hover::after {
          transform: scaleX(1); }
        .landing-top-nav-link:hover {
          cursor: pointer; }
        @media only screen and (max-width: 44em) {
          .landing-top-nav-link {
            font-size: 2.2rem;
            margin-left: 2rem; } }
        .landing-top-nav-link, .landing-top-nav-link:link, .landing-top-nav-link:visited {
          text-decoration: none;
          color: #f7f7f2; }
        .landing-top-nav-link_selected, .landing-top-nav-link_selected:link, .landing-top-nav-link_selected:visited {
          margin-left: 4rem;
          text-decoration: none;
          color: #f7f7f2; }
          .landing-top-nav-link_selected::after, .landing-top-nav-link_selected:link::after, .landing-top-nav-link_selected:visited::after {
            content: "";
            position: relative;
            display: block;
            height: 3px;
            width: 100%;
            background-color: #fff;
            transform: scaleX(1);
            transform-origin: 0%;
            top: 2px; }
          @media only screen and (max-width: 44em) {
            .landing-top-nav-link_selected, .landing-top-nav-link_selected:link, .landing-top-nav-link_selected:visited {
              margin-left: 2rem; } }
  .landing-heading {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 91vh;
    width: 100%;
    padding: 0 10%;
    line-height: 1.6;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 44em) {
      .landing-heading {
        width: 100%; } }
    .landing-heading-top {
      text-align: center;
      width: 50%; }
      @media only screen and (max-width: 44em) {
        .landing-heading-top {
          width: 100%; } }
      .landing-heading-top-title {
        font-size: 5rem;
        animation: moveInBottom 1s ease 0.75s;
        animation-fill-mode: backwards;
        color: #f7f7f2; }
        @media only screen and (max-width: 90em) {
          .landing-heading-top-title {
            font-size: 4rem; } }
      .landing-heading-top-subtitle {
        margin-top: 3rem;
        font-size: 3.2rem;
        font-weight: 300;
        width: 100%;
        color: #f7f7f2;
        animation: moveInBottom 1s ease 1s;
        animation-fill-mode: backwards; }
        @media only screen and (max-width: 44em) {
          .landing-heading-top-subtitle {
            font-size: 2.8rem; } }
    .landing-heading-button {
      animation: moveInBottom 1s ease 1.25s;
      animation-fill-mode: backwards; }
      .landing-heading-button, .landing-heading-button:link, .landing-heading-button:visited {
        text-decoration: none;
        color: #111;
        margin-top: 6rem;
        padding: 1.5rem 2rem;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #f7f7f7;
        transition: all 0.3s ease; }
        .landing-heading-button:hover, .landing-heading-button:link:hover, .landing-heading-button:visited:hover {
          background-color: #dcdcdc; }
        @media only screen and (max-width: 44em) {
          .landing-heading-button, .landing-heading-button:link, .landing-heading-button:visited {
            margin: 20% 0 0;
            font-size: 2.6rem; } }

.section-one {
  height: 50vh;
  background-color: #04061a; }

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 200;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite; }
  @media only screen and (max-width: 65em) {
    .scroll-down {
      bottom: 15%;
      left: 48%; } }

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

.social-links {
  position: fixed;
  bottom: 0;
  background-color: #121212;
  z-index: 201; }

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 10%;
  color: #f7f7f2;
  animation: fadeIn 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
  overflow-y: visible !important; }
  .work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2rem; }
    @media only screen and (max-width: 44em) {
      .work-grid {
        grid-template-columns: repeat(auto-fit, 300px);
        width: 80%; } }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-15px); }
  100% {
    transform: translatey(0px); } }

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 10%;
  background-color: #fff;
  animation: fadeIn 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
  overflow-y: visible !important; }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2rem; }
    @media only screen and (max-width: 44em) {
      .gallery-grid {
        grid-template-columns: repeat(auto-fit, 300px);
        width: 80%; } }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-15px); }
  100% {
    transform: translatey(0px); } }

.work-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000000000000;
  padding: 12%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: backwards;
  backdrop-filter: blur(5px); }
  @media only screen and (max-width: 44em) {
    .work-popup {
      height: 100%;
      padding: 20% 5%;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      align-items: center;
      justify-content: center; } }
  .work-popup-content {
    position: relative;
    background-color: #222;
    color: #ddd;
    display: flex;
    height: 100%; }
    @media only screen and (max-width: 44em) {
      .work-popup-content {
        flex-direction: column;
        height: 80vh;
        padding: 3rem; } }
  .work-popup-demo {
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 44em) {
      .work-popup-demo {
        height: 60%; } }
  .work-popup-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    padding: 5% 3%; }
    @media only screen and (max-width: 44em) {
      .work-popup-info {
        justify-content: none;
        width: 100%;
        padding: 5%; } }
    .work-popup-info-text {
      text-align: center; }
    .work-popup-info-btns {
      display: flex;
      justify-content: space-evenly;
      width: 50%; }
      @media only screen and (max-width: 44em) {
        .work-popup-info-btns {
          justify-content: center;
          width: 100%;
          margin-top: 3rem; } }
      .work-popup-info-btns > *, .work-popup-info-btns > *:link, .work-popup-info-btns > *:visited {
        text-decoration: none;
        background: #ddd;
        color: #222;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-out; }
        .work-popup-info-btns > *:hover, .work-popup-info-btns > *:link:hover, .work-popup-info-btns > *:visited:hover {
          cursor: pointer;
          background-color: #fff; }
      @media only screen and (max-width: 44em) {
        .work-popup-info-btns_demo {
          margin-right: 1rem; } }
      @media only screen and (max-width: 44em) {
        .work-popup-info-btns_code {
          margin-left: 1rem; } }
    .work-popup-info-close {
      position: absolute;
      top: 15px;
      right: 25px;
      transition: all 0.2s ease-out; }
      .work-popup-info-close:hover {
        color: #d11;
        cursor: pointer; }
      @media only screen and (max-width: 44em) {
        .work-popup-info-close {
          color: #d11; }
          .work-popup-info-close:hover {
            color: #ddd; } }

#contact {
  height: 100px; }
  @media only screen and (max-width: 44em) {
    #contact {
      height: 50px; } }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
  animation: fadeIn 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
  overflow-y: hidden; }
  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0;
    width: 50%;
    text-align: center; }
    @media only screen and (max-width: 44em) {
      .contact-text {
        margin: 10rem 0 0;
        width: 80%; } }
    .contact-text__title {
      font-size: 4rem; }
    .contact-text__paragraph {
      font-size: 2.8rem;
      line-height: 1.5;
      width: 75%;
      margin-top: 3rem; }
  .contact-links {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -10rem; }
    @media only screen and (max-width: 44em) {
      .contact-links {
        width: 55rem; } }
    .contact-links__linkedin, .contact-links__linkedin:link, .contact-links__linkedin:visited {
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.1s ease-in-out; }
      @media only screen and (max-width: 44em) {
        .contact-links__linkedin, .contact-links__linkedin:link, .contact-links__linkedin:visited {
          width: 35px;
          height: 35px; } }
    .contact-links__linkedin:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .contact-links__linkedin::after {
      content: "";
      display: table;
      clear: both; }
    .contact-links__resume, .contact-links__resume:link, .contact-links__resume:visited {
      background-color: #ddd;
      color: #111;
      font-size: 2.2rem;
      border: 1px solid #111;
      text-decoration: none;
      border-radius: 3px;
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      margin: 5rem 0;
      align-self: flex-end;
      transition: all 0.2s ease-out; }
    .contact-links__resume:hover {
      background-color: #fff;
      color: #222;
      cursor: pointer; }
    .contact-links__github, .contact-links__github:link, .contact-links__github:visited {
      width: 55px;
      height: 55px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.1s ease-in-out; }
      @media only screen and (max-width: 44em) {
        .contact-links__github, .contact-links__github:link, .contact-links__github:visited {
          width: 35px;
          height: 35px; } }
    .contact-links__github:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .contact-links__github::after {
      content: "";
      display: table;
      clear: both; }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 20rem;
    font-size: 2.6rem; }
    @media only screen and (max-width: 44em) {
      .contact-form {
        flex-direction: column;
        margin: 10rem 0;
        padding-bottom: 15rem; } }
    .contact-form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 65px;
      /* LABEL ======================================= */
      /* BOTTOM BARS ================================= */
      /* active state */
      /* HIGHLIGHTER ================================== */
      /* active state */
      /* ANIMATIONS ================ */ }
      .contact-form-group::after {
        content: "";
        position: relative;
        display: block;
        height: 4px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 0.3s ease;
        top: 0; }
      .contact-form-group:focus-within {
        border-color: transparent; }
        .contact-form-group:focus-within::after {
          transform: scaleX(1); }
        .contact-form-group:focus-within .contact-form-group__label {
          transform: translateY(-5rem); }
      .contact-form-group__input:not(:placeholder-shown) + .contact-form-group__label {
        transform: translateY(-5rem); }
      .contact-form-group__label {
        color: #999;
        font-size: 3rem;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        text-align: center;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; }
      .contact-form-group__input:placeholder-shown ~ .contact-form-group__label::after {
        content: "*";
        color: red;
        margin-left: 10px;
        font-size: 3rem; }
      .contact-form-group__bar {
        position: relative;
        display: block;
        width: 100%; }
      .contact-form-group__bar:before, .contact-form-group__bar:after {
        content: "";
        height: 4px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background-color: #aaa;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; }
      .contact-form-group__bar:before {
        left: 50%; }
      .contact-form-group__bar:after {
        right: 50%; }
      .contact-form-group__input:focus ~ .contact-form-group__bar:before,
      .contact-form-group__input:focus ~ .contact-form-group__bar:after,
      .contact-form-group__input:hover ~ .contact-form-group__bar:before,
      .contact-form-group__input:hover ~ .contact-form-group__bar:after {
        width: 50%; }
      .contact-form-group__highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
        z-index: -100000; }
      .contact-form-group__input:focus ~ .contact-form-group__highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background-color: #a9b0b8; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background-color: #197ee6; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background-color: #197ee6; }
  to {
    width: 0;
    background: transparent; } }
      .contact-form-group__label {
        margin: 3rem 0 1rem;
        align-self: start;
        color: #eee;
        position: absolute;
        bottom: 0.5rem;
        font-size: 2rem;
        transition: transform 0.5s ease; }
        .contact-form-group__label:hover {
          cursor: text; }
      .contact-form-group__input {
        background-color: transparent;
        color: #eee;
        border: none;
        border-bottom: 2px dashed #666;
        padding: 0.5rem 0rem;
        font-size: 3rem; }
        .contact-form-group__input:hover {
          cursor: text; }
    .contact-form-button {
      background-color: #f7f7f7;
      color: #111;
      font-size: 3rem;
      font-family: "Roboto";
      border: none;
      padding: 1.5rem 2rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 3rem;
      align-self: center;
      transition: all 0.2s ease-out; }
      .contact-form-button:hover {
        background-color: #dcdcdc;
        color: #111;
        cursor: pointer; }

.about {
  animation: fadeIn 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  overflow-y: visible;
  padding: 5rem 0 10rem; }
  .about-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .about-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    text-align: center; }
    .about-story-title {
      margin: 2rem 0 5rem;
      color: "#000 !important"; }
    .about-story-paragraph {
      line-height: 1.5; }
      @media only screen and (max-width: 44em) {
        .about-story-paragraph {
          width: 100%; } }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  font-size: 2rem;
  color: #f7f7e7;
  padding: 3rem 0 6rem; }
  @media only screen and (max-width: 44em) {
    .footer {
      flex-direction: column; } }
  @media only screen and (max-width: 44em) {
    .footer-logo {
      display: none; } }
  .footer-contact {
    width: 33%;
    text-align: center;
    font-size: 2.8rem; }
    @media only screen and (max-width: 44em) {
      .footer-contact {
        width: 100%; } }
  .footer a {
    color: #0077b5;
    padding: 3rem 0; }
    .footer a:hover {
      cursor: pointer; }
  .footer-links {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 44em) {
      .footer-links {
        width: 100%;
        margin-bottom: 3rem; } }
    .footer-links > * {
      font-size: 4rem;
      transition: all 0.2s ease-out;
      padding: 1rem; }
    .footer-links_resume, .footer-links_resume:link, .footer-links_resume:visited {
      font-size: 3rem; }
    .footer-links_linkedin, .footer-links_linkedin:link, .footer-links_linkedin:visited {
      color: #ddd;
      margin-right: 2.5rem; }
      @media only screen and (max-width: 44em) {
        .footer-links_linkedin, .footer-links_linkedin:link, .footer-links_linkedin:visited {
          margin-right: 2rem; } }
      .footer-links_linkedin:hover, .footer-links_linkedin:link:hover, .footer-links_linkedin:visited:hover {
        cursor: pointer;
        color: #fff; }
    .footer-links_email, .footer-links_email:link, .footer-links_email:visited {
      color: #ddd;
      margin-right: 2.5rem; }
      .footer-links_email:hover, .footer-links_email:link:hover, .footer-links_email:visited:hover {
        cursor: pointer;
        color: #fff; }
