//COLORS

//Form

$accent: #e78200;
$lightaccent: #FFA42D;
$darkaccent: #B96900;

$white: #f7f7e7;
$black: #131312;
$green: #20a80e;

//Live Style
$color-primary: #8f4ea2;
$color-primary-2: #ec9b22;
$color-primary-3: #ffa500;
$color-primary-light: #ad24de;
$color-primary-dark: #ae298e;

//Track Trade
$color-secondary-light: #003952;
$color-secondary-dark: #042635;

//Super Supervisor
$color-tertiary-light: #058e97;
$color-tertiary-dark: #09757b;

//fitsocial
$color-green: #04ed04;
$color-black-2: #14110f;
$color-gray-dark-4: #424342;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-black: #000;
$color-white: #fff;
$color-red: rgb(255, 38, 0);

//FONT
$default-font-size: 1.8rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
