.about {
    animation: fadeIn 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    overflow-y: visible;
    padding: 5rem 0 10rem;

    &-image {
        height: 100%;
        width: 100%;
        background-image: url("../images/about.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &-story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        text-align: center;

        &-title {
            margin: 2rem 0 5rem;
            color: "#000 !important";
        }
        &-paragraph {
            line-height: 1.5;

            @include respond(phone) {
                width: 100%;
            }
        }
    }
}
