.about {
    animation: fadeIn 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    overflow-y: visible;

    &-services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        column-gap: 10rem;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            grid-template-columns: none;
            column-gap: 0rem;
            row-gap: 5rem;
        }

        &-each {
            width: 100%;

            @include respond(phone) {
                text-align: center;
                margin-top: 5rem;
            }

            &-container {
                &-title {
                    font-size: 3.2rem;
                    font-weight: 800;
                    margin-bottom: 2rem;
                }

                &-paragraph {
                }
            }
        }
    }

    &-story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        text-align: center;

        &-title {
            margin: 2rem 0 5rem;
            color: "#000 !important";
        }
        &-paragraph {
            line-height: 1.5;

            @include respond(phone) {
                width: 100%;
            }
        }
    }
    &-picture {
    }
    &-skills {
        display: flex;
        flex-direction: column;
        padding-bottom: 10rem;

        @include respond(phone) {
            padding-bottom: 10rem;
        }

        &-title {
            align-items: center;
            margin: 10rem auto 3rem;
            display: inline;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            padding: 3rem 0 0 15rem;

            justify-content: center;
            align-items: center;
            width: 90%;

            @include respond(phone) {
                grid-template-columns: repeat(auto-fit, 200px);
                padding: 3rem 0 0 15rem;
                margin: 0 auto;
                overflow-x: hidden;
            }

            &-each {
                display: flex;
                align-items: center;
                margin: 2rem auto;

                @include respond(phone) {
                    font-size: 2.6rem;
                    margin: 2rem 0;
                }

                &-image {
                    height: 35px;
                    width: 35px;
                    display: inline-block;
                    margin-right: 1rem;

                    &-reactJS {
                        background-image: url("../images/logos/reactjslogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-expressJS {
                        background-image: url("../images/logos/expressjslogo.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: #fff;
                    }

                    &-SASS {
                        background-image: url("../images/logos/sasslogo.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-tailwindCSS {
                        background-image: url("../images/logos/tailwindcsslogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-cheerio {
                        background-image: url("../images/logos/cheeriologo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-ajax {
                        background-image: url("../images/logos/ajaxlogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-mongoDB {
                        background-image: url("../images/logos/mongodblogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-firebase {
                        background-image: url("../images/logos/firebase.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: top;
                    }

                    &-nodeJS {
                        background-image: url("../images/logos/nodejslogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-redux {
                        background-image: url("../images/logos/reduxlogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-materialUI {
                        background-image: url("../images/logos/materialuilogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-HTML {
                        background-image: url("../images/logos/htmllogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-CSS {
                        background-image: url("../images/logos/csslogo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &-javascript {
                        background-image: url("../images/logos/javascript.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            &-name {
            }
        }
    }
}

.youtube-video {
    height: 100%;
    width: 100%;
    margin: 0rem auto 5rem;
}
