.work-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000000000000;
  padding: 12%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: backwards;
  backdrop-filter: blur(5px);

  @include respond(phone) {
    height: 100%;
    padding: 20% 5%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    position: relative;
    background-color: #222;
    color: #ddd;
    display: flex;
    height: 100%;

    @include respond(phone) {
      flex-direction: column;
      height: 80vh;
      padding: 3rem;
    }
  }

  &-demo {
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(phone) {
      height: 60%;
    }

    &_therusticdude {
      background-image: url("../images/therusticdudedemo.gif");
    }
    
    &_fitsocial {
      background-image: url("../images/fitsocialdemo.gif");

      @include respond(phone) {
          margin-top: 1rem;
          height: 60%;
      }
    }

    &_tracktrade {
      background-image: url("../images/tracktradedemo.gif");
    }

    &_livestyle {
      background-image: url("../images/livestyledemo.gif");
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    padding: 5% 3%;

    @include respond(phone) {
      justify-content: none;
      width: 100%;
      padding: 5%;
    }

    &-text {
      text-align: center;
    }

    &-btns {
      display: flex;
      justify-content: space-evenly;
      width: 50%;

      @include respond(phone) {
        justify-content: center;
        width: 100%;
        margin-top: 3rem;
      }

      & > * {
        &,
        &:link,
        &:visited {
          text-decoration: none;
          background: #ddd;
          color: #222;
          border-radius: 2px;
          padding: 0.5rem 1rem;
          transition: all 0.2s ease-out;

          &:hover {
            cursor: pointer;
            background-color: #fff;
          }
        }
      }

      &_demo {
        @include respond(phone) {
            margin-right: 1rem;
        }
      }

      &_code {
        @include respond(phone) {
            margin-left: 1rem;
        }
      }
    }

    &-close {
      position: absolute;
      top: 15px;
      right: 25px;
      transition: all 0.2s ease-out;

      &:hover {
        color: #d11;
        cursor: pointer;
      }

      @include respond(phone){
          &:hover {
              color: #ddd;
          }
          color: #d11;
      }
    }
  }
}
